<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Ekeberg | Welcome{% endblock %}</title>
	<link rel="stylesheet" href="{{ '/static/foundation.min.css'|url }}">
	<link rel="stylesheet" href="{{ '/static/main.css'|url }}">
   </head>	
<body>

<header class="header animated fadeIn">

    <div class="row">
      <div class="large-12 medium-12 text-center columns" id="clogo">
        <img src="img/ekeberg-logo.png" alt="Ekeberg logo" width="50%" />
        <div style="width:400px;margin: 0 auto;" class="animated bounceInUp">
        <p style="color:#fff;font-size:1.5em;">
          <strong>Hallo, wij zijn Ekeberg.</strong><br/>
          Een creatief bureau gespecialiseerd in het brengen
          van fantasievolle creaties om uw bedrijf zo goed mogelijk te presenteren.
        </p>
        <p class="hlink"><a href="mailto:mail@ekeberg.nl">mail@ekeberg.nl</a></p>
        </div>
      </div>
    </div>
  </header>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>

  <header class="header">
    <h1>lector_example</h1>
    <nav>
      <ul class="nav navbar-nav">
        <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}">Welcome</a></li>
        {% for href, title in [
          ['/blog', 'Blog'],
          ['/projects', 'Projects'],
          ['/about', 'About']
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    &copy; Copyright 2016
  </footer>
</body>
